<br />
    <div class="jumbotron">
        <h1>Progetto MeMeMe</h1>
        <p class="lead">Randomized controlled trial of metformin and dietary restriction to prevent age-related morbid events in people with metabolic syndrome </p>
        <br />
        <p>
            Principal Investigator: Franco Berrino, MD
            <br />
            Host Institution: Fondazione IRCCS Istituto Nazionale dei Tumori
        </p>
    </div>

